body{
	height: auto;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

a, h2{color:#fcc200}

h2{
	margin-top:-10px;
}

p {
	color:#305898;
}

.page{
	height: 100%;
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	text-align: center;
	position: relative;
	font-family: 'Old Standard TT', serif;
	color:#777;
}

.content{
	width:700px;
	height:400px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    padding:50px;
	background-color:rgba(255,255,255,0.95);;
	-moz-box-shadow: 0 0 100px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 100px rgba(0,0,0,0.05);
	box-shadow: 0 0 100px rgba(0,0,0,0.05);
	text-align:center;
}

#about .content{
	position: absolute;
}

#intro{
	background-image: url('background1.jpg');
}
#about{
	background-image: url('background2.jpg');
}
#about2{
	background-image: url('background3.jpg');
}

#story{
	background-image: url('inline1.png');
	background-position: 0 250px;
	background-repeat:no-repeat;
}

#story2{
	background-image: url('inline2.png');
	background-position: 0 250px;
	background-repeat:no-repeat;
}

.text{
	text-align: justify;
	width:700px;
	margin: auto;
}

#more{
	margin:35px;
}

#logo{
	padding:10px 0 40px 0;
}